<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Backend/etc/menu.xsd">
    <menu>
        <add 
            id="Armmage_Base::armmage" 
            title="Arm Mage" 
            module="Armmage_Base" 
            sortOrder="50" 
            resource="Armmage_Base::armmage"
        />
     </menu>
</config>