<?xml version="1.0" ?>
<!-- 
/**
 * @package Base
 *
 * @author Gevorg Arshakyan <gevorg@armmage.com>
 *
 * @copyright Copyright (c) 2023 ArmMage (https://armmage.com)
 */
 -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">

	<module name="ArmMage_Base">
		<module name="Magento_Sales" />
	</module>

</config>
